# {{ ansible_managed }}

{% if rssh_allow is defined %}
{%   for key, value in rssh_allow.iteritems()|sort %}
{%     if value is sameas true %}
{{ key }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if rssh_chrootpath is defined %}
chrootpath = "{{ rssh_chrootpath }}"
{% endif %}
logfacility = {{ rssh_logfacility }} 
umask = {{ rssh_umask }}
{% if rssh_users is defined %}
{%   for u in rssh_users|sort %}
{%     if rssh_users[u].umask is defined and rssh_users[u].access_bits is defined %}
{%       set access_bits = rssh_users[u].access_bits %}
{%       set umask = rssh_users[u].umask %}
{%       if rssh_users[u].path is defined %}
{%         set path = rssh_users[u].path %}
user = "{{ u }}:{{ umask }}:{{ access_bits }}:{{ path }}"
{%       else %}
user = "{{ u }}:{{ umask }}:{{ access_bits }}"
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

