# {{ ansible_managed }}

{% if rssh_allow is defined %}
{%   for key, value in rssh_allow.iteritems()|sort %}
{%     if value is sameas true %}
{{ key }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if rssh_chrootpath is defined %}
chrootpath = "{{ rssh_chrootpath }}"
{% endif %}
logfacility = {{ rssh_logfacility }} 
umask = {{ rssh_umask }}
{% if rssh_users is defined %}
{%   for username in rssh_users|sort %}
{%     if rssh_users[username]['umask'] is defined and rssh_users[username]['access_bits'] is defined %}
{%       if rssh_users[username]['path'] is defined %}
user="{{ username }}:{{ rssh_users[username]['umask'] }}:{{ rssh_users[username]['access_bits'] }}:{{ rssh_users[username]['path'] }}"
{%       else %}
user="{{ username }}:{{ rssh_users[username]['umask'] }}:{{ rssh_users[username]['access_bits'] }}"
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

