# {{ ansible_managed }}

{{ '' if rssh_allowcvs|bool else '#' }}allowcvs
{{ '' if rssh_allowrdist|bool else '#' }}allowrdist
{{ '' if rssh_allowrsync|bool else '#' }}allowrsync
{{ '' if rssh_allowscp|bool else '#' }}allowscp
{{ '' if rssh_allowsftp|bool else '#' }}allowsftp

{% if rssh_chrootpath is defined %}
chrootpath = "{{ rssh_chrootpath }}"
{% endif %}
logfacility = {{ rssh_logfacility }} 
umask = {{ rssh_umask }}

{% for u in rssh_users|sort(attribute='name') %}
{%   if u.access_bits is defined and u.name is defined and u.umask is defined %}
{%     if u.path is defined %}
user = "{{ u.name }}:{{ u.umask }}:{{ u.access_bits }}:{{ u.path }}"
{%     else %}
user = "{{ u.name }}:{{ u.umask }}:{{ u.access_bits }}"
{%     endif %}
{%   endif %}
{% endfor %}
